APP_NAME = {{ getenv "GITEA_APP_NAME" }}
RUN_MODE = {{ getenv "GITEA_RUN_MODE" }}
RUN_USER = git

[repository]
ROOT = {{ getenv "GITEA_REPO_ROOT" }}
SCRIPT_TYPE = {{ getenv "GITEA_REPO_SCRIPT_TYPE" }}
ANSI_CHARSET = {{ getenv "GITEA_REPO_ANSI_CHARSET" }}
FORCE_PRIVATE = {{ getenv "GITEA_REPO_FORCE_PRIVATE" }}
DEFAULT_PRIVATE = {{ getenv "GITEA_REPO_DEFAULT_PRIVATE" }}
MAX_CREATION_LIMIT = {{ getenv "GITEA_REPO_MAX_CREATION_LIMIT" }}
MIRROR_QUEUE_LENGTH = {{ getenv "GITEA_REPO_MIRROR_QUEUE_LENGTH" }}
PULL_REQUEST_QUEUE_LENGTH = {{ getenv "GITEA_REPO_PULL_REQUEST_QUEUE_LENGTH" }}
PREFERRED_LICENSES = {{ getenv "GITEA_REPO_PREFERRED_LICENSES" }}
DISABLE_HTTP_GIT = {{ getenv "GITEA_REPO_DISABLE_HTTP_GIT" }}
ACCESS_CONTROL_ALLOW_ORIGIN = {{ getenv "GITEA_REPO_ACCESS_CONTROL_ALLOW_ORIGIN" }}
USE_COMPAT_SSH_URI = {{ getenv "GITEA_REPO_USE_COMPAT_SSH_URI" }}
DEFAULT_CLOSE_ISSUES_VIA_COMMITS_IN_ANY_BRANCH = {{ getenv "GITEA_REPO_DEFAULT_CLOSE_ISSUES_VIA_COMMITS_IN_ANY_BRANCH" }}

[repository.editor]
LINE_WRAP_EXTENSIONS = {{ getenv "GITEA_REPO_EDITOR_LINE_WRAP_EXTENSIONS" }}
PREVIEWABLE_FILE_MODES = {{ getenv "GITEA_REPO_EDITOR_PREVIEWABLE_FILE_MODES" }}

[repository.local]
LOCAL_COPY_PATH = {{ getenv "GITEA_REPO_LOCAL_LOCAL_COPY_PATH" }}
LOCAL_WIKI_PATH = {{ getenv "GITEA_REPO_LOCAL_LOCAL_WIKI_PATH" }}

[repository.upload]
ENABLED = {{ getenv "GITEA_REPO_UPLOAD_ENABLED" }}
TEMP_PATH = {{ getenv "GITEA_REPO_UPLOAD_TEMP_PATH" }}
ALLOWED_TYPES = {{ getenv "GITEA_REPO_UPLOAD_ALLOWED_TYPES" }}
FILE_MAX_SIZE = {{ getenv "GITEA_REPO_UPLOAD_FILE_MAX_SIZE" }}
MAX_FILES = {{ getenv "GITEA_REPO_UPLOAD_MAX_FILES" }}

[repository.pull-request]
WORK_IN_PROGRESS_PREFIXES = {{ getenv "GITEA_REPO_PULL_REQUEST_WIP_PREFIXES" }}

[repository.issue]
LOCK_REASONS = {{ getenv "GITEA_REPO_ISSUE_LOCK_REASONS" }}

[cors]
ENABLED = {{ getenv "GITEA_CORS_ENABLED" }}
SCHEME = {{ getenv "GITEA_CORS_SCHEME" }}
ALLOW_DOMAIN = {{ getenv "GITEA_CORS_ALLOW_DOMAIN" }}
ALLOW_SUBDOMAIN = {{ getenv "GITEA_CORS_ALLOW_SUBDOMAIN" }}
METHODS = {{ getenv "GITEA_CORS_METHODS" }}
MAX_AGE = {{ getenv "GITEA_CORS_MAX_AGE" }}
ALLOW_CREDENTIALS = {{ getenv "GITEA_CORS_ALLOW_CREDENTIALS" }}

[ui]
EXPLORE_PAGING_NUM = {{ getenv "GITEA_UI_EXPLORE_PAGING_NUM" }}
ISSUE_PAGING_NUM = {{ getenv "GITEA_UI_ISSUE_PAGING_NUM" }}
FEED_MAX_COMMIT_NUM = {{ getenv "GITEA_UI_FEED_MAX_COMMIT_NUM" }}
GRAPH_MAX_COMMIT_NUM = {{ getenv "GITEA_UI_GRAPH_MAX_COMMIT_NUM" }}
CODE_COMMENT_LINES = {{ getenv "GITEA_UI_CODE_COMMENT_LINES" }}
THEME_COLOR_META_TAG = `#{{ getenv "GITEA_UI_THEME_COLOR_META_TAG" }}`
MAX_DISPLAY_FILE_SIZE = {{ getenv "GITEA_UI_MAX_DISPLAY_FILE_SIZE" }}
SHOW_USER_EMAIL = {{ getenv "GITEA_UI_SHOW_USER_EMAIL" }}
DEFAULT_THEME = {{ getenv "GITEA_UI_DEFAULT_THEME" }}
THEMES = {{ getenv "GITEA_UI_THEMES" }}
DEFAULT_SHOW_FULL_NAME = {{ getenv "GITEA_UI_DEFAULT_SHOW_FULL_NAME" }}

[ui.admin]
USER_PAGING_NUM = {{ getenv "GITEA_UI_ADMIN_USER_PAGING_NUM" }}
REPO_PAGING_NUM = {{ getenv "GITEA_UI_ADMIN_REPO_PAGING_NUM" }}
NOTICE_PAGING_NUM = {{ getenv "GITEA_UI_ADMIN_NOTICE_PAGING_NUM" }}
ORG_PAGING_NUM = {{ getenv "GITEA_UI_ADMIN_ORG_PAGING_NUM" }}

[ui.user]
REPO_PAGING_NUM = {{ getenv "GITEA_UI_USER_REPO_PAGING_NUM" }}

[ui.meta]
AUTHOR = {{ getenv "GITEA_UI_META_AUTHOR" }}
DESCRIPTION = {{ getenv "GITEA_UI_META_DESCRIPTION" }}
KEYWORDS = {{ getenv "GITEA_UI_META_KEYWORDS" }}

[markdown]
ENABLE_HARD_LINE_BREAK = {{ getenv "GITEA_MARKDOWN_ENABLE_HARD_LINE_BREAK" }}
CUSTOM_URL_SCHEMES = {{ getenv "GITEA_MARKDOWN_CUSTOM_URL_SCHEMES" }}
FILE_EXTENSIONS = {{ getenv "GITEA_MARKDOWN_FILE_EXTENSIONS" }}

[server]
PROTOCOL = {{ getenv "GITEA_SERVER_PROTOCOL" }}
DOMAIN = {{ getenv "GITEA_SERVER_DOMAIN" }}
ROOT_URL = {{ getenv "GITEA_SERVER_ROOT_URL" }}
HTTP_ADDR = {{ getenv "GITEA_SERVER_HTTP_ADDR" }}
HTTP_PORT = {{ getenv "GITEA_SERVER_HTTP_PORT" }}
REDIRECT_OTHER_PORT = {{ getenv "GITEA_SERVER_REDIRECT_OTHER_PORT" }}
PORT_TO_REDIRECT = {{ getenv "GITEA_SERVER_PORT_TO_REDIRECT" }}
UNIX_SOCKET_PERMISSION = {{ getenv "GITEA_SERVER_UNIX_SOCKET_PERMISSION" }}
LOCAL_ROOT_URL = {{ getenv "GITEA_SERVER_LOCAL_ROOT_URL" }}
DISABLE_SSH = {{ getenv "GITEA_SERVER_DISABLE_SSH" }}
START_SSH_SERVER = {{ getenv "GITEA_SERVER_START_SSH_SERVER" }}
BUILTIN_SSH_SERVER_USER = {{ getenv "GITEA_SERVER_BUILTIN_SSH_SERVER_USER" }}
SSH_DOMAIN = {{ getenv "GITEA_SERVER_SSH_DOMAIN" }}
SSH_LISTEN_HOST = {{ getenv "GITEA_SERVER_SSH_LISTEN_HOST" }}
SSH_PORT = {{ getenv "GITEA_SERVER_SSH_PORT" }}
SSH_LISTEN_PORT = {{ getenv "GITEA_SERVER_SSH_LISTEN_PORT" }}
SSH_ROOT_PATH = {{ getenv "GITEA_SERVER_SSH_ROOT_PATH" }}
SSH_CREATE_AUTHORIZED_KEYS_FILE = {{ getenv "GITEA_SERVER_SSH_CREATE_AUTHORIZED_KEYS_FILE" }}
SSH_SERVER_CIPHERS = {{ getenv "GITEA_SERVER_SSH_SERVER_CIPHERS" }}
SSH_SERVER_KEY_EXCHANGES = {{ getenv "GITEA_SERVER_SSH_SERVER_KEY_EXCHANGES" }}
SSH_SERVER_MACS = {{ getenv "GITEA_SERVER_SSH_SERVER_MACS" }}
SSH_KEY_TEST_PATH = {{ getenv "GITEA_SERVER_SSH_KEY_TEST_PATH" }}
SSH_KEYGEN_PATH = {{ getenv "GITEA_SERVER_SSH_KEYGEN_PATH" }}
SSH_BACKUP_AUTHORIZED_KEYS = {{ getenv "GITEA_SERVER_SSH_BACKUP_AUTHORIZED_KEYS" }}
SSH_EXPOSE_ANONYMOUS = {{ getenv "GITEA_SERVER_SSH_EXPOSE_ANONYMOUS" }}
MINIMUM_KEY_SIZE_CHECK = {{ getenv "GITEA_SERVER_MINIMUM_KEY_SIZE_CHECK" }}
OFFLINE_MODE = {{ getenv "GITEA_SERVER_OFFLINE_MODE" }}
DISABLE_ROUTER_LOG = {{ getenv "GITEA_SERVER_DISABLE_ROUTER_LOG" }}
CERT_FILE = {{ getenv "GITEA_SERVER_CERT_FILE" }}
KEY_FILE = {{ getenv "GITEA_SERVER_KEY_FILE" }}
STATIC_ROOT_PATH = {{ getenv "GITEA_SERVER_STATIC_ROOT_PATH" }}
APP_DATA_PATH = {{ getenv "GITEA_SERVER_APP_DATA_PATH" }}
ENABLE_GZIP = {{ getenv "GITEA_SERVER_ENABLE_GZIP" }}
ENABLE_PPROF = {{ getenv "GITEA_SERVER_ENABLE_PPROF" }}
PPROF_DATA_PATH = {{ getenv "GITEA_SERVER_PPROF_DATA_PATH" }}
LANDING_PAGE = {{ getenv "GITEA_SERVER_LANDING_PAGE" }}
LFS_START_SERVER = {{ getenv "GITEA_SERVER_LFS_START_SERVER" }}
LFS_CONTENT_PATH = {{ getenv "GITEA_SERVER_LFS_CONTENT_PATH" }}
LFS_JWT_SECRET = {{ getenv "GITEA_SERVER_LFS_JWT_SECRET" }}
LFS_HTTP_AUTH_EXPIRY = {{ getenv "GITEA_SERVER_LFS_HTTP_AUTH_EXPIRY" }}

[ssh.minimum_key_sizes]
ED25519 = {{ getenv "GITEA_SSH_MINIMUM_KEY_SIZES_ED25519" }}
ECDSA = {{ getenv "GITEA_SSH_MINIMUM_KEY_SIZES_ECDSA" }}
RSA = {{ getenv "GITEA_SSH_MINIMUM_KEY_SIZES_RSA" }}
DSA = {{ getenv "GITEA_SSH_MINIMUM_KEY_SIZES_DSA" }}

[database]
DB_TYPE = {{ getenv "GITEA_DATABASE_TYPE" }}

{{ if eq (getenv "GITEA_DATABASE_TYPE") "mysql" }}
HOST = {{ getenv "GITEA_DATABASE_HOST" }}
NAME = {{ getenv "GITEA_DATABASE_NAME" }}
USER = {{ getenv "GITEA_DATABASE_USERNAME" }}
PASSWD = `{{ getenv "GITEA_DATABASE_PASSWORD" }}`
SSL_MODE = {{ getenv "GITEA_DATABASE_SSL" }}
CHARSET = {{ getenv "GITEA_DATABASE_CHARSET" }}
{{ end }}

{{ if eq (getenv "GITEA_DATABASE_TYPE") "postgres" }}
HOST = {{ getenv "GITEA_DATABASE_HOST" }}
NAME = {{ getenv "GITEA_DATABASE_NAME" }}
USER = {{ getenv "GITEA_DATABASE_USERNAME" }}
PASSWD = `{{ getenv "GITEA_DATABASE_PASSWORD" }}`
SSL_MODE = {{ getenv "GITEA_DATABASE_SSL" }}
{{ end }}

{{ if eq (getenv "GITEA_DATABASE_TYPE") "sqlite3" }}
PATH = {{ getenv "GITEA_DATABASE_PATH" }}
SQLITE_TIMEOUT = {{ getenv "GITEA_DATABASE_TIMEOUT" }}
{{ end }}

ITERATE_BUFFER_SIZE = {{ getenv "GITEA_DATABASE_ITERATE_BUFFER_SIZE" }}
LOG_SQL = {{ getenv "GITEA_DATABASE_LOG_SQL" }}
DB_RETRIES = {{ getenv "GITEA_DATABASE_RETRIES" }}
DB_RETRY_BACKOFF = {{ getenv "GITEA_DATABASE_RETRY_BACKOFF" }}

[indexer]
ISSUE_INDEXER_TYPE = {{ getenv "GITEA_INDEXER_ISSUE_TYPE" }}
ISSUE_INDEXER_PATH = {{ getenv "GITEA_INDEXER_ISSUE_PATH" }}
ISSUE_INDEXER_QUEUE_TYPE = {{ getenv "GITEA_INDEXER_ISSUE_QUEUE_TYPE" }}
ISSUE_INDEXER_QUEUE_DIR = {{ getenv "GITEA_INDEXER_ISSUE_QUEUE_PATH" }}
ISSUE_INDEXER_QUEUE_BATCH_NUMBER = {{ getenv "GITEA_INDEXER_ISSUE_QUEUE_BATCH_NUMBER" }}
REPO_INDEXER_ENABLED = {{ getenv "GITEA_INDEXER_REPO_ENABLED" }}
REPO_INDEXER_PATH = {{ getenv "GITEA_INDEXER_REPO_PATH" }}
UPDATE_BUFFER_LEN = {{ getenv "GITEA_INDEXER_UPDATE_BUFFER_LEN" }}
MAX_FILE_SIZE = {{ getenv "GITEA_INDEXER_MAX_FILE_SIZE" }}

{{ if eq (getenv "GITEA_INDEXER_ISSUE_QUEUE_TYPE") "redis" }}
ISSUE_INDEXER_QUEUE_CONN_STR = addrs={{ getenv "GITEA_INDEXER_REDIS_HOST" }} password={{ getenv "GITEA_INDEXER_REDIS_PASSWORD" }} db={{ getenv "GITEA_INDEXER_REDIS_DB" }}
{{ end }}

[admin]
DISABLE_REGULAR_ORG_CREATION = {{ getenv "GITEA_ADMIN_DISABLE_REGULAR_ORG_CREATION" }}

[security]
INSTALL_LOCK = {{ getenv "GITEA_SECURITY_INSTALL_LOCK" }}
SECRET_KEY = {{ getenv "GITEA_SECURITY_SECRET_KEY" }}
LOGIN_REMEMBER_DAYS = {{ getenv "GITEA_SECURITY_LOGIN_REMEMBER_DAYS" }}
COOKIE_USERNAME = {{ getenv "GITEA_SECURITY_COOKIE_USERNAME" }}
COOKIE_REMEMBER_NAME = {{ getenv "GITEA_SECURITY_COOKIE_REMEMBER_NAME" }}
REVERSE_PROXY_AUTHENTICATION_USER = {{ getenv "GITEA_SECURITY_REVERSE_PROXY_AUTHENTICATION_USER" }}
REVERSE_PROXY_AUTHENTICATION_EMAIL = {{ getenv "GITEA_SECURITY_REVERSE_PROXY_AUTHENTICATION_EMAIL" }}
MIN_PASSWORD_LENGTH = {{ getenv "GITEA_SECURITY_MIN_PASSWORD_LENGTH" }}
IMPORT_LOCAL_PATHS = {{ getenv "GITEA_SECURITY_IMPORT_LOCAL_PATHS" }}
DISABLE_GIT_HOOKS = {{ getenv "GITEA_SECURITY_DISABLE_GIT_HOOKS" }}

[openid]
ENABLE_OPENID_SIGNIN = {{ getenv "GITEA_OPENID_ENABLE_OPENID_SIGNIN" }}
ENABLE_OPENID_SIGNUP = {{ getenv "GITEA_OPENID_ENABLE_OPENID_SIGNUP" }}
WHITELISTED_URIS = {{ getenv "GITEA_OPENID_WHITELISTED_URIS" }}
BLACKLISTED_URIS = {{ getenv "GITEA_OPENID_BLACKLISTED_URIS" }}

[service]
ACTIVE_CODE_LIVE_MINUTES = {{ getenv "GITEA_SERVICE_ACTIVE_CODE_LIVE_MINUTES" }}
RESET_PASSWD_CODE_LIVE_MINUTES = {{ getenv "GITEA_SERVICE_RESET_PASSWD_CODE_LIVE_MINUTES" }}
REGISTER_EMAIL_CONFIRM = {{ getenv "GITEA_SERVICE_REGISTER_EMAIL_CONFIRM" }}
EMAIL_DOMAIN_WHITELIST = {{ getenv "GITEA_SERVICE_EMAIL_DOMAIN_WHITELIST" }}
DISABLE_REGISTRATION = {{ getenv "GITEA_SERVICE_DISABLE_REGISTRATION" }}
ALLOW_ONLY_EXTERNAL_REGISTRATION = {{ getenv "GITEA_SERVICE_ALLOW_ONLY_EXTERNAL_REGISTRATION" }}
REQUIRE_SIGNIN_VIEW = {{ getenv "GITEA_SERVICE_REQUIRE_SIGNIN_VIEW" }}
ENABLE_NOTIFY_MAIL = {{ getenv "GITEA_SERVICE_ENABLE_NOTIFY_MAIL" }}
ENABLE_REVERSE_PROXY_AUTHENTICATION = {{ getenv "GITEA_SERVICE_ENABLE_REVERSE_PROXY_AUTHENTICATION" }}
ENABLE_REVERSE_PROXY_AUTO_REGISTRATION = {{ getenv "GITEA_SERVICE_ENABLE_REVERSE_PROXY_AUTO_REGISTRATION" }}
ENABLE_REVERSE_PROXY_EMAIL = {{ getenv "GITEA_SERVICE_ENABLE_REVERSE_PROXY_EMAIL" }}
ENABLE_CAPTCHA = {{ getenv "GITEA_SERVICE_ENABLE_CAPTCHA" }}
CAPTCHA_TYPE = {{ getenv "GITEA_SERVICE_CAPTCHA_TYPE" }}
RECAPTCHA_SECRET = {{ getenv "GITEA_SERVICE_RECAPTCHA_SECRET" }}
RECAPTCHA_SITEKEY = {{ getenv "GITEA_SERVICE_RECAPTCHA_SITEKEY" }}
RECAPTCHA_URL = {{ getenv "GITEA_SERVICE_RECAPTCHA_URL" }}
DEFAULT_KEEP_EMAIL_PRIVATE = {{ getenv "GITEA_SERVICE_DEFAULT_KEEP_EMAIL_PRIVATE" }}
DEFAULT_ALLOW_CREATE_ORGANIZATION = {{ getenv "GITEA_SERVICE_DEFAULT_ALLOW_CREATE_ORGANIZATION" }}
DEFAULT_ORG_VISIBILITY = {{ getenv "GITEA_SERVICE_DEFAULT_ORG_VISIBILITY" }}
DEFAULT_ENABLE_DEPENDENCIES = {{ getenv "GITEA_SERVICE_DEFAULT_ENABLE_DEPENDENCIES" }}
ENABLE_USER_HEATMAP = {{ getenv "GITEA_SERVICE_ENABLE_USER_HEATMAP" }}
ENABLE_TIMETRACKING = {{ getenv "GITEA_SERVICE_ENABLE_TIMETRACKING" }}
DEFAULT_ENABLE_TIMETRACKING = {{ getenv "GITEA_SERVICE_DEFAULT_ENABLE_TIMETRACKING" }}
DEFAULT_ALLOW_ONLY_CONTRIBUTORS_TO_TRACK_TIME = {{ getenv "GITEA_SERVICE_DEFAULT_ALLOW_ONLY_CONTRIBUTORS_TO_TRACK_TIME" }}
NO_REPLY_ADDRESS = {{ getenv "GITEA_SERVICE_NO_REPLY_ADDRESS" }}
SHOW_REGISTRATION_BUTTON = {{ getenv "GITEA_SERVICE_SHOW_REGISTRATION_BUTTON" }}
AUTO_WATCH_NEW_REPOS = {{ getenv "GITEA_SERVICE_AUTO_WATCH_NEW_REPOS" }}

[webhook]
QUEUE_LENGTH = {{ getenv "GITEA_WEBHOOK_QUEUE_LENGTH" }}
DELIVER_TIMEOUT = {{ getenv "GITEA_WEBHOOK_DELIVER_TIMEOUT" }}
SKIP_TLS_VERIFY = {{ getenv "GITEA_WEBHOOK_SKIP_TLS_VERIFY" }}
PAGING_NUM = {{ getenv "GITEA_WEBHOOK_PAGING_NUM" }}

[mailer]
ENABLED = {{ getenv "GITEA_MAILER_ENABLED" }}
SEND_BUFFER_LEN = {{ getenv "GITEA_MAILER_SEND_BUFFER_LEN" }}
SUBJECT_PREFIX = {{ getenv "GITEA_MAILER_SUBJECT_PREFIX" }}
HOST = {{ getenv "GITEA_MAILER_HOST" }}
DISABLE_HELO = {{ getenv "GITEA_MAILER_DISABLE_HELO" }}
HELO_HOSTNAME = {{ getenv "GITEA_MAILER_HELO_HOSTNAME" }}
SKIP_VERIFY = {{ getenv "GITEA_MAILER_SKIP_VERIFY" }}
USE_CERTIFICATE = {{ getenv "GITEA_MAILER_USE_CERTIFICATE" }}
CERT_FILE = {{ getenv "GITEA_MAILER_CERT_FILE" }}
KEY_FILE = {{ getenv "GITEA_MAILER_KEY_FILE" }}
IS_TLS_ENABLED = {{ getenv "GITEA_MAILER_IS_TLS_ENABLED" }}
FROM = {{ getenv "GITEA_MAILER_FROM" }}
USER = {{ getenv "GITEA_MAILER_USERNAME" }}
PASSWD = {{ getenv "GITEA_MAILER_PASSWORD" }}
SEND_AS_PLAIN_TEXT = {{ getenv "GITEA_MAILER_SEND_AS_PLAIN_TEXT" }}
MAILER_TYPE = {{ getenv "GITEA_MAILER_MAILER_TYPE" }}
SENDMAIL_PATH = {{ getenv "GITEA_MAILER_SENDMAIL_PATH" }}
SENDMAIL_ARGS = {{ getenv "GITEA_MAILER_SENDMAIL_ARGS" }}

[cache]
ADAPTER = {{ getenv "GITEA_CACHE_ADAPTER" }}

{{ if eq (getenv "GITEA_CACHE_ADAPTER") "memcache" }}
HOST = {{ getenv "GITEA_CACHE_MEMCACHE_HOST" }}
{{ end }}

{{ if eq (getenv "GITEA_CACHE_ADAPTER") "redis" }}
HOST = network=tcp,addr={{ getenv "GITEA_CACHE_REDIS_HOST" }},password={{ getenv "GITEA_CACHE_REDIS_PASSWORD" }},db={{ getenv "GITEA_CACHE_REDIS_DB" }},pool_size={{ getenv "GITEA_CACHE_REDIS_POOL_SIZE" }},idle_timeout={{ getenv "GITEA_CACHE_REDIS_IDLE_TIMEOUT" }}
{{ end }}

INTERVAL = {{ getenv "GITEA_CACHE_INTERVAL" }}
ITEM_TTL = {{ getenv "GITEA_CACHE_ITEM_TTL" }}

[session]
PROVIDER = {{ getenv "GITEA_SESSION_PROVIDER" }}

{{ if eq (getenv "GITEA_SESSION_PROVIDER") "file" }}
PROVIDER_CONFIG = {{ getenv "GITEA_SESSION_PATH" }}
{{ end }}

{{ if eq (getenv "GITEA_SESSION_PROVIDER") "redis" }}
PROVIDER_CONFIG = network=tcp,addr={{ getenv "GITEA_SESSION_REDIS_HOST" }},password={{ getenv "GITEA_SESSION_REDIS_PASSWORD" }},db={{ getenv "GITEA_SESSION_REDIS_DB" }},pool_size={{ getenv "GITEA_SESSION_REDIS_POOL_SIZE" }},idle_timeout={{ getenv "GITEA_SESSION_REDIS_IDLE_TIMEOUT" }}
{{ end }}

COOKIE_NAME = {{ getenv "GITEA_SESSION_COOKIE_NAME" }}
COOKIE_SECURE = {{ getenv "GITEA_SESSION_COOKIE_SECURE" }}
ENABLE_SET_COOKIE = {{ getenv "GITEA_SESSION_ENABLE_SET_COOKIE" }}
GC_INTERVAL_TIME = {{ getenv "GITEA_SESSION_GC_INTERVAL_TIME" }}
SESSION_LIFE_TIME = {{ getenv "GITEA_SESSION_SESSION_LIFE_TIME" }}

[picture]
AVATAR_UPLOAD_PATH = {{ getenv "GITEA_PICTURE_AVATAR_UPLOAD_PATH" }}
REPOSITORY_AVATAR_UPLOAD_PATH = {{ getenv "GITEA_PICTURE_REPOSITORY_AVATAR_UPLOAD_PATH" }}
REPOSITORY_AVATAR_FALLBACK = {{ getenv "GITEA_PICTURE_REPOSITORY_AVATAR_FALLBACK" }}
REPOSITORY_AVATAR_FALLBACK_IMAGE = {{ getenv "GITEA_PICTURE_REPOSITORY_AVATAR_FALLBACK_IMAGE" }}
AVATAR_MAX_WIDTH = {{ getenv "GITEA_PICTURE_AVATAR_MAX_WIDTH" }}
AVATAR_MAX_HEIGHT = {{ getenv "GITEA_PICTURE_AVATAR_MAX_HEIGHT" }}
AVATAR_MAX_FILE_SIZE = {{ getenv "GITEA_PICTURE_AVATAR_MAX_FILE_SIZE" }}
GRAVATAR_SOURCE = {{ getenv "GITEA_PICTURE_GRAVATAR_SOURCE" }}
DISABLE_GRAVATAR = {{ getenv "GITEA_PICTURE_DISABLE_GRAVATAR" }}
ENABLE_FEDERATED_AVATAR = {{ getenv "GITEA_PICTURE_ENABLE_FEDERATED_AVATAR" }}

[attachment]
ENABLED = {{ getenv "GITEA_ATTACHMENT_ENABLED" }}
PATH = {{ getenv "GITEA_ATTACHMENT_PATH" }}
ALLOWED_TYPES = {{ getenv "GITEA_ATTACHMENT_ALLOWED_TYPES" }}
MAX_SIZE = {{ getenv "GITEA_ATTACHMENT_MAX_SIZE" }}
MAX_FILES = {{ getenv "GITEA_ATTACHMENT_MAX_FILES" }}

[time]
FORMAT = {{ getenv "GITEA_TIME_FORMAT" }}

[log]
ROOT_PATH = {{ getenv "GITEA_LOG_ROOT_PATH" }}
MODE = {{ getenv "GITEA_LOG_MODE" }}
BUFFER_LEN = {{ getenv "GITEA_LOG_BUFFER_LEN" }}
REDIRECT_MACARON_LOG = {{ getenv "GITEA_LOG_REDIRECT_MACARON_LOG" }}
MACARON = {{ getenv "GITEA_LOG_MACARON" }}
ROUTER_LOG_LEVEL = {{ getenv "GITEA_LOG_ROUTER_LOG_LEVEL" }}
ROUTER = {{ getenv "GITEA_LOG_ROUTER" }}
ENABLE_ACCESS_LOG = {{ getenv "GITEA_LOG_ENABLE_ACCESS_LOG" }}
ACCESS_LOG_TEMPLATE = {{ getenv "GITEA_LOG_ACCESS_LOG_TEMPLATE" }}
ACCESS = {{ getenv "GITEA_LOG_ACCESS" }}
LEVEL = {{ getenv "GITEA_LOG_LEVEL" }}
STACKTRACE_LEVEL = {{ getenv "GITEA_LOG_STACKTRACE_LEVEL" }}

[log.x]
FLAGS = {{ getenv "GITEA_LOG_X_FLAGS" }}
EXPRESSION = {{ getenv "GITEA_LOG_X_EXPRESSION" }}
PREFIX = {{ getenv "GITEA_LOG_X_PREFIX" }}
COLORIZE = {{ getenv "GITEA_LOG_X_COLORIZE" }}

[log.console]
LEVEL = {{ getenv "GITEA_LOG_CONSOLE_LEVEL" }}
STDERR = {{ getenv "GITEA_LOG_CONSOLE_STDERR" }}

[log.file]
LEVEL = {{ getenv "GITEA_LOG_FILE_LEVEL" }}
FILE_NAME = {{ getenv "GITEA_LOG_FILE_NAME" }}
LOG_ROTATE = {{ getenv "GITEA_LOG_FILE_ROTATE" }}
MAX_LINES = {{ getenv "GITEA_LOG_FILE_MAX_LINES" }}
MAX_SIZE_SHIFT = {{ getenv "GITEA_LOG_FILEMAX_SIZE_SHIFT" }}
DAILY_ROTATE = {{ getenv "GITEA_LOG_FILE_DAILY_ROTATE" }}
MAX_DAYS = {{ getenv "GITEA_LOG_FILE_MAX_DAYS" }}
COMPRESS = {{ getenv "GITEA_LOG_FILE_COMPRESS" }}
COMPRESSION_LEVEL = {{ getenv "GITEA_LOG_FILE_COMPRESSION_LEVEL" }}

[log.conn]
LEVEL = {{ getenv "GITEA_LOG_CONN_LEVEL" }}
RECONNECT_ON_MSG = {{ getenv "GITEA_LOG_CONN_RECONNECT_ON_MSG" }}
RECONNECT = {{ getenv "GITEA_LOG_CONN_RECONNECT" }}
PROTOCOL = {{ getenv "GITEA_LOG_CONN_PROTOCOL" }}
ADDR = {{ getenv "GITEA_LOG_CONN_ADDR" }}

[log.smtp]
LEVEL = {{ getenv "GITEA_LOG_SMTP_LEVEL" }}
SUBJECT = {{ getenv "GITEA_LOG_SMTP_SUBJECT" }}
HOST = {{ getenv "GITEA_LOG_SMTP_HOST" }}
USER = {{ getenv "GITEA_LOG_SMTP_USER" }}
PASSWD = {{ getenv "GITEA_LOG_SMTP_PASSWD" }}
RECEIVERS = {{ getenv "GITEA_LOG_SMTP_RECEIVERS" }}

[cron]
ENABLED = {{ getenv "GITEA_CRON_ENABLED" }}
RUN_AT_START = {{ getenv "GITEA_CRON_RUN_AT_START" }}

[cron.update_mirrors]
SCHEDULE = {{ getenv "GITEA_CRON_UPDATE_MIRRORS_SCHEDULE" }}

[cron.repo_health_check]
SCHEDULE = {{ getenv "GITEA_CRON_REPO_HEALTH_CHECK_SCHEDULE" }}
TIMEOUT = {{ getenv "GITEA_CRON_REPO_HEALTH_CHECK_TIMEOUT" }}
ARGS = {{ getenv "GITEA_CRON_REPO_HEALTH_CHECK_ARGS" }}

[cron.check_repo_stats]
RUN_AT_START = {{ getenv "GITEA_CRON_CHECK_REPO_STATS" }}
SCHEDULE = {{ getenv "GITEA_CRON_CHECK_REPO_STATS_SCHEDULE" }}

[cron.archive_cleanup]
ENABLED = {{ getenv "GITEA_CRON_ARCHIVE_CLEANUP_ENABLED" }}
RUN_AT_START = {{ getenv "GITEA_CRON_ARCHIVE_CLEANUP_RUN_AT_START" }}
SCHEDULE = {{ getenv "GITEA_CRON_ARCHIVE_CLEANUP_SCHEDULE" }}
OLDER_THAN = {{ getenv "GITEA_CRON_ARCHIVE_CLEANUP_OLDER_THAN" }}

[cron.sync_external_users]
RUN_AT_START = {{ getenv "GITEA_CRON_SYNC_EXTERNAL_USERS_RUN_AT_START" }}
SCHEDULE = {{ getenv "GITEA_CRON_SYNC_EXTERNAL_USERS_SCHEDULE" }}
UPDATE_EXISTING = {{ getenv "GITEA_CRON_SYNC_EXTERNAL_USERS_UPDATE_EXISTING" }}

[git]
DISABLE_DIFF_HIGHLIGHT = {{ getenv "GITEA_GIT_DISABLE_DIFF_HIGHLIGHT" }}
MAX_GIT_DIFF_LINES = {{ getenv "GITEA_GIT_MAX_GIT_DIFF_LINES" }}
MAX_GIT_DIFF_LINE_CHARACTERS = {{ getenv "GITEA_GIT_MAX_GIT_DIFF_LINE_CHARACTERS" }}
MAX_GIT_DIFF_FILES = {{ getenv "GITEA_GIT_MAX_GIT_DIFF_FILES" }}
GC_ARGS = {{ getenv "GITEA_GIT_GC_ARGS" }}
EnableAutoGitWireProtocol = {{ getenv "GITEA_GIT_ENABLE_AUTO_GIT_WIRE_PROTOCOL" }}

[git.timeout]
DEFAULT = {{ getenv "GITEA_GIT_TIMEOUT_DEFAULT" }}
MIGRATE = {{ getenv "GITEA_GIT_TIMEOUT_MIGRATE" }}
MIRROR = {{ getenv "GITEA_GIT_TIMEOUT_MIRROR" }}
CLONE = {{ getenv "GITEA_GIT_TIMEOUT_CLONE" }}
PULL = {{ getenv "GITEA_GIT_TIMEOUT_PULL" }}
GC = {{ getenv "GITEA_GIT_TIMEOUT_GC" }}

[mirror]
DEFAULT_INTERVAL = {{ getenv "GITEA_MIRROR_DEFAULT_INTERVAL" }}
MIN_INTERVAL = {{ getenv "GITEA_MIRROR_MIN_INTERVAL" }}

[api]
ENABLE_SWAGGER = {{ getenv "GITEA_API_ENABLE_SWAGGER" }}
MAX_RESPONSE_ITEMS = {{ getenv "GITEA_API_MAX_RESPONSE_ITEMS" }}
DEFAULT_PAGING_NUM = {{ getenv "GITEA_API_DEFAULT_PAGING_NUM" }}
DEFAULT_GIT_TREES_PER_PAGE = {{ getenv "GITEA_API_DEFAULT_GIT_TREES_PER_PAGE" }}
DEFAULT_MAX_BLOB_SIZE = {{ getenv "GITEA_API_DEFAULT_MAX_BLOB_SIZE" }}

[oauth2]
ENABLED = {{ getenv "GITEA_OAUTH2_ENABLED" }}
ACCESS_TOKEN_EXPIRATION_TIME = {{ getenv "GITEA_OAUTH2_ACCESS_TOKEN_EXPIRATION_TIME" }}
REFRESH_TOKEN_EXPIRATION_TIME = {{ getenv "GITEA_OAUTH2_REFRESH_TOKEN_EXPIRATION_TIME" }}
INVALIDATE_REFRESH_TOKENS = {{ getenv "GITEA_OAUTH2_INVALIDATE_REFRESH_TOKENS" }}
JWT_SECRET = {{ getenv "GITEA_OAUTH2_JWT_SECRET" }}

[i18n]
LANGS = en-US,zh-CN,zh-HK,zh-TW,de-DE,fr-FR,nl-NL,lv-LV,ru-RU,uk-UA,ja-JP,es-ES,pt-BR,pl-PL,bg-BG,it-IT,fi-FI,tr-TR,cs-CZ,sr-SP,sv-SE,ko-KR
NAMES = English,简体中文,繁體中文（香港）,繁體中文（台灣）,Deutsch,français,Nederlands,latviešu,русский,Українська,日本語,español,português do Brasil,polski,български,italiano,suomi,Türkçe,čeština,српски,svenska,한국어

[i18n.datelang]
en-US = en
zh-CN = zh
zh-HK = zh-HK
zh-TW = zh-TW
de-DE = de
fr-FR = fr
nl-NL = nl
lv-LV = lv
ru-RU = ru
uk-UA = uk
ja-JP = ja
es-ES = es
pt-BR = pt-BR
pl-PL = pl
bg-BG = bg
it-IT = it
fi-FI = fi
tr-TR = tr
cs-CZ = cs-CZ
sr-SP = sr
sv-SE = sv
ko-KR = ko

{{ if eq (getenv "GITEA_U2F_ENABLED") "true" }}
[U2F]
APP_ID = {{ getenv "GITEA_U2F_APP_ID" }}
TRUSTED_FACETS = {{ getenv "GITEA_U2F_TRUSTED_FACETS" }}
{{ end }}

[highlight.mapping]
{{ range split (getenv "GITEA_HIGHLIGHT_MAPPING") "," }}
{{ . }}
{{ end }}

[other]
SHOW_FOOTER_BRANDING = {{ getenv "GITEA_OTHER_SHOW_FOOTER_BRANDING" }}
SHOW_FOOTER_VERSION = {{ getenv "GITEA_OTHER_SHOW_FOOTER_VERSION" }}
SHOW_FOOTER_TEMPLATE_LOAD_TIME = {{ getenv "GITEA_OTHER_SHOW_FOOTER_TEMPLATE_LOAD_TIME" }}

[markup.asciidoc]
ENABLED = {{ getenv "GITEA_MARKUP_ASCIIDOC_ENABLED" }}
FILE_EXTENSIONS = {{ getenv "GITEA_MARKUP_ASCIIDOC_FILE_EXTENSIONS" }}
RENDER_COMMAND = `{{ getenv "GITEA_MARKUP_ASCIIDOC_RENDER_COMMAND" }}`
IS_INPUT_FILE = {{ getenv "GITEA_MARKUP_ASCIIDOC_IS_INPUT_FILE" }}

[metrics]
ENABLED = {{ getenv "GITEA_METRICS_ENABLED" }}
TOKEN = {{ getenv "GITEA_METRICS_TOKEN" }}
