APP_NAME = ${GITEA_APP_NAME}
RUN_MODE = ${GITEA_RUN_MODE}
RUN_USER = git

[repository]
ROOT = /var/lib/gitea/repos
SCRIPT_TYPE = sh

[server]
STATIC_ROOT_PATH = /usr/share/gitea
PROTOCOL = ${GITEA_SERVER_PROTOCOL}
DOMAIN = ${GITEA_SERVER_DOMAIN}
HTTP_ADDR = ${GITEA_SERVER_ADDR}
HTTP_PORT = 3000
ROOT_URL = %(PROTOCOL)s://%(DOMAIN)s:${GITEA_SERVER_PORT}/
DISABLE_SSH = ${GITEA_SSH_DISABLE}
SSH_PORT = ${GITEA_SSH_PORT}
OFFLINE_MODE = ${GITEA_OFFLINE_MODE}
DISABLE_ROUTER_LOG = ${GITEA_ROUTERLOG_DISABLE}
CERT_FILE = ${GITEA_CERT_FILE}
KEY_FILE = ${GITEA_KEY_FILE}
ENABLE_GZIP = ${GITEA_GZIP_ENABLE}
LANDING_PAGE = ${GITEA_LANDING_PAGE}

[database]
DB_TYPE = ${GITEA_DATABASE_TYPE}
HOST = ${GITEA_DATABASE_HOST}
NAME = ${GITEA_DATABASE_NAME}
USER = ${GITEA_DATABASE_USERNAME}
PASSWD = ${GITEA_DATABASE_PASSWORD} 
SSL_MODE = ${GITEA_DATABASE_SSLMODE}
PATH = ${GITEA_DATABASE_PATH}

[service]
REGISTER_EMAIL_CONFIRM = ${GITEA_REGISTER_CONFIRM}
DISABLE_REGISTRATION = ${GITEA_DISABLE_REGISTER}
REQUIRE_SIGNIN_VIEW = ${GITEA_REQUIRE_SINGIN}
ENABLE_CACHE_AVATAR = ${GITEA_CACHE_AVATAR}
ENABLE_NOTIFY_MAIL = ${GITEA_NOTIFY_MAIL}
ENABLE_REVERSE_PROXY_AUTHENTICATION = ${GITEA_REVERSE_PROXY_AUTH}
ENABLE_REVERSE_PROXY_AUTO_REGISTRATION = ${GITEA_REVERSE_PROXY_REGISTER}
DISABLE_MINIMUM_KEY_SIZE_CHECK = ${GITEA_DISABLE_KEYSIZE_CHECK}

[webhook]
QUEUE_LENGTH = ${GITEA_WEBHOOK_QUEUE_LENGTH}
DELIVER_TIMEOUT = ${GITEA_WEBHOOK_DELIVER_TIMEOUT}
SKIP_TLS_VERIFY = ${GITEA_WEBHOOK_SKIP_VERIFY}

[mailer]
ENABLED = ${GITEA_MAILER_ENABLED}
SUBJECT = ${GITEA_MAILER_SUBJECT}
HOST = ${GITEA_MAILER_HOST}
DISABLE_HELO = ${GITEA_MAILER_HELO_DISABLE} 
HELO_HOSTNAME = ${GITEA_MAILER_HELO_HOST} 
SKIP_VERIFY = ${GITEA_MAILER_SKIP_VERIFY} 
USE_CERTIFICATE = ${GITEA_MAILER_USE_CERT}
CERT_FILE = ${GITEA_MAILER_CERT_FILE}
KEY_FILE = ${GITEA_MAILER_KEY_FILE}
FROM = ${GITEA_MAILER_FROM}
USER = ${GITEA_MAILER_USERNAME} 
PASSWD = ${GITEA_MAILER_PASSWORD} 

[oauth]
ENABLED = ${GITEA_OAUTH_ENABLED}

[oauth.github]
ENABLED = ${GITEA_GITHUB_ENABLED}
CLIENT_ID = ${GITEA_GITHUB_CLIENT}
CLIENT_SECRET = ${GITEA_GITHUB_SECRET}
SCOPES = ${GITEA_GITHUB_SCOPES}
AUTH_URL = ${GITEA_GITHUB_AUTH}
TOKEN_URL = ${GITEA_GITHUB_TOKEN}

[oauth.google]
ENABLED = ${GITEA_GOOGLE_ENABLED}
CLIENT_ID = ${GITEA_GOOGLE_CLIENT}
CLIENT_SECRET = ${GITEA_GOOGLE_SECRET}
SCOPES = ${GITEA_GOOGLE_SCOPES}
AUTH_URL = ${GITEA_GOOGLE_AUTH}
TOKEN_URL = ${GITEA_GOOGLE_TOKEN}

[oauth.qq]
ENABLED = ${GITEA_QQ_ENABLED}
CLIENT_ID = ${GITEA_QQ_CLIENT}
CLIENT_SECRET = ${GITEA_QQ_SECRET}
SCOPES = ${GITEA_QQ_SCOPES}
AUTH_URL = ${GITEA_QQ_AUTH}
TOKEN_URL = ${GITEA_QQ_TOKEN}

[oauth.weibo]
ENABLED = ${GITEA_WEIBO_ENABLED}
CLIENT_ID = ${GITEA_WEIBO_CLIENT}
CLIENT_SECRET = ${GITEA_WEIBO_SECRET}
SCOPES = ${GITEA_WEIBO_SCOPES}
AUTH_URL = ${GITEA_WEIBO_AUTH}
TOKEN_URL = ${GITEA_WEIBO_TOKEN}

[cache]
ADAPTER = ${GITEA_CACHE_ADAPTER}
HOST = ${GITEA_CACHE_HOST}

[session]
PROVIDER = ${GITEA_SESSION_PROVIDER}
PROVIDER_CONFIG = ${GITEA_SESSION_CONFIG}
COOKIE_NAME = ${GITEA_COOKIE_NAME}
COOKIE_SECURE = ${GITEA_COOKIE_SECURE}
ENABLE_SET_COOKIE = ${GITEA_COOKIE_ENABLE}
GC_INTERVAL_TIME = ${GITEA_GC_INTERVAL}
SESSION_LIFE_TIME = ${GITEA_SESSION_LIFETIME}

[picture]
AVATAR_UPLOAD_PATH = /var/lib/gitea/avatars
SERVICE = ${GITEA_PICTURE_SERVICE}
GRAVATAR_SOURCE = ${GITEA_GRAVATAR_SOURCE}
DISABLE_GRAVATAR = ${GITEA_GRAVATAR_DISABLE}

[attachment]
ENABLE = true
PATH = /var/lib/gitea/attachments
ALLOWED_TYPES = ${GITEA_ATTACHMENT_TYPES}
MAX_SIZE = ${GITEA_ATTACHMENT_SIZE}
MAX_FILES = ${GITEA_ATTACHMENT_FILES}

[time]
FORMAT = ${GITEA_TIME_FORMAT}

[log]
ROOT_PATH = /var/log/gitea
MODE = console
LEVEL = ${GITEA_LOG_LEVEL}

[git.fsck]
ENABLE = ${GITEA_GITFSCK_ENABLE}
INTERVAL = ${GITEA_GITFSCK_INTERVAL}
ARGS = ${GITEA_GITFSCK_ARGS}

[other]
SHOW_FOOTER_BRANDING = ${GITEA_FOOTER_BRANDING}

[security]
INSTALL_LOCK = ${GITEA_INSTALL_LOCK}
LOGIN_REMEMBER_DAYS = ${GITEA_LOGIN_REMEMBER}
COOKIE_USERNAME = ${GITEA_COOKIE_USERNAME}
COOKIE_REMEMBER_NAME = ${GITEA_COOKIE_REMEMBER}
REVERSE_PROXY_AUTHENTICATION_USER = ${GITEA_REVERSE_PROXY_USER}
SECRET_KEY = ${GITEA_SECRET_KEY}
